# Instalação para PyTorch use os .bat correspondentes

# Hugging Face Diffusers e dependências
diffusers
transformers
accelerate

# Carregamento de checkpoints .safetensors
safetensors

# Utilidades
Pillow
customtkinter